In [2]:
import pandas as pd
import numpy as np

ages = pd.Series([18, 20, 19, 22, 21])
print(ages)
ages_np = np.array(ages)
print(ages_np)

0    18
1    20
2    19
3    22
4    21
dtype: int64
[18 20 19 22 21]

In [3]:
data = {
    "Name": ["Ali", "Sara", "Omar", "Mona", "Hana"],
    "Age": [18, 20, 19, 22, 21],
    "Math_Score": [85, 70, 90, 60, 75],
    "Gender": ["M", "F", "M", "F", "F"]
}

df = pd.DataFrame(data)
print(df)
print(df.info())
print(df.describe())

   Name  Age  Math_Score Gender
0   Ali   18          85      M
1  Sara   20          70      F
2  Omar   19          90      M
3  Mona   22          60      F
4  Hana   21          75      F
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Math_Score  5 non-null      int64
 3   Gender      5 non-null      object
dtypes: int64(2), object(2)
memory usage: 192.0+ bytes
None
             Age  Math_Score
count   5.000000    5.000000
mean   20.000000   76.000000
std     1.581139   11.937336
min    18.000000   60.000000
25%    19.000000   70.000000
50%    20.000000   75.000000
75%    21.000000   85.000000
max    22.000000   90.000000

In [4]:
print(df["Name"])

print(df.loc[0])

print(df.iloc[1])
filtered_df = df[df["Math_Score"] > 70]
print(filtered_df)

0     Ali
1    Sara
2    Omar
3    Mona
4    Hana
Name: Name, dtype: object
Name          Ali
Age            18
Math_Score     85
Gender          M
Name: 0, dtype: object
Name          Sara
Age             20
Math_Score      70
Gender           F
Name: 1, dtype: object
   Name  Age  Math_Score Gender
0   Ali   18          85      M
2  Omar   19          90      M
4  Hana   21          75      F

In [5]:
df.loc[2, "Math_Score"] = np.nan
df.loc[4, "Age"] = np.nan
print(df)
df_filled = df.fillna(df.mean(numeric_only=True))
print(df_filled)
df_dup = pd.concat([df, df.iloc[[0]]])
print(df_dup)

df_no_dup = df_dup.drop_duplicates()
print(df_no_dup)
df_dropped = df.drop(columns=["Age"])
print(df_dropped)

   Name   Age  Math_Score Gender
0   Ali  18.0        85.0      M
1  Sara  20.0        70.0      F
2  Omar  19.0         NaN      M
3  Mona  22.0        60.0      F
4  Hana   NaN        75.0      F
   Name    Age  Math_Score Gender
0   Ali  18.00        85.0      M
1  Sara  20.00        70.0      F
2  Omar  19.00        72.5      M
3  Mona  22.00        60.0      F
4  Hana  19.75        75.0      F
   Name   Age  Math_Score Gender
0   Ali  18.0        85.0      M
1  Sara  20.0        70.0      F
2  Omar  19.0         NaN      M
3  Mona  22.0        60.0      F
4  Hana   NaN        75.0      F
0   Ali  18.0        85.0      M
   Name   Age  Math_Score Gender
0   Ali  18.0        85.0      M
1  Sara  20.0        70.0      F
2  Omar  19.0         NaN      M
3  Mona  22.0        60.0      F
4  Hana   NaN        75.0      F
   Name  Math_Score Gender
0   Ali        85.0      M
1  Sara        70.0      F
2  Omar         NaN      M
3  Mona        60.0      F
4  Hana        75.0      F

In [6]:
def classify_score(score):
    if score >= 60:
        return "Pass"
    else:
        return "Fail"

df["Result"] = df["Math_Score"].apply(classify_score)
print(df)
gender_dummies = pd.get_dummies(df["Gender"])
print(gender_dummies)

   Name   Age  Math_Score Gender Result
0   Ali  18.0        85.0      M   Pass
1  Sara  20.0        70.0      F   Pass
2  Omar  19.0         NaN      M   Fail
3  Mona  22.0        60.0      F   Pass
4  Hana   NaN        75.0      F   Pass
       F      M
0  False   True
1   True  False
2  False   True
3   True  False
4   True  False

In [7]:
data2 = {
    "Name": ["Khaled", "Nour"],
    "Age": [23, 19],
    "Math_Score": [88, 65],
    "Gender": ["M", "F"]
}

df2 = pd.DataFrame(data2)

combined_df = pd.concat([df, df2])
print(combined_df)
pivot_table = pd.pivot_table(combined_df, values="Math_Score", index="Gender", aggfunc="mean")
print(pivot_table)

     Name   Age  Math_Score Gender Result
0     Ali  18.0        85.0      M   Pass
1    Sara  20.0        70.0      F   Pass
2    Omar  19.0         NaN      M   Fail
3    Mona  22.0        60.0      F   Pass
4    Hana   NaN        75.0      F   Pass
0  Khaled  23.0        88.0      M    NaN
1    Nour  19.0        65.0      F    NaN
        Math_Score
Gender
F             67.5
M             86.5